<section class="min-vh-100 formbg d-flex justify-content-center">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-xl-5 order-2 order-lg-1">
                        <div class="card text-black border-3 rounded">
                            <div class="card-body p-md-4 text-center">
                                <p class="h3 fw-bold mb-4 mx-1 mx-md-4 mt-3"><em>Success!</em></p>
                                <p class="h5 fw-bold mt-4">We will be in touch for an offer and activations.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>