/* You can add global styles to this file, and also import other style files */
.bg-aus{background-color: #250ec0;}
.logo-mh-50{max-height: 50px;}
.btn.btn-aus {
    --bs-btn-color: #fff;
    --bs-btn-bg: #250ec0;
    --bs-btn-border-color: #230eaa;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #200aae;
    --bs-btn-hover-border-color: #16048a;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #230eaa;
    --bs-btn-active-border-color: #230eaa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #3f2ac5;
    --bs-btn-disabled-border-color: #2e2086;
}
.formbg{background-image: url('./assets/images/form-bg.jpg'); background-size: 100%; background-repeat: no-repeat; background-position: bottom center;}